{% extends "base.html" %}

{% block content %}

 <div class="container">
       <div class="jumpotron text-center">
           {% if task %}
           <h1>Edit Task for: {{project.name}}</h1>
           {% else %}
           <h1>Add Task for: {{project.name}}</h1>
           {% endif %}
           <form action="" method="post">
               <div class="form-group">
                   {% if form %}
                       {{form.inputTask.label(class="sr-only")}}
                       {{form.inputTask(class="form-control", placeholder="Task name")}}
                   {% else %}
                        <input type="text" class="form-control" placeholder="Task name" name="description" value="{{task.description}}">
                   {% endif %}

               </div>
                <div class="form-group">
                    {% if form %}
                        {{ form.inputTaskDeadline.label(class="sr-only") }}
                        {{ form.inputTaskDeadline(class="form-control") }}
                            {% if form.inputTaskDeadline.errors %}
                                {% for error in form.inputTaskDeadline.errors %}
                                <div class="alert alert-danger">
                                    <strong>Error:</strong> [{{ error }}]
                                </div>
                                {% endfor %}
                            {% endif %}
                    {% else %}
                        <input type="date" name="deadline" value="{{task.deadline.date()}}" class="form-control">
                    {% endif %}
                </div>
           {% if task and statuses %}
            <div class="form-group">
               <select name="status" id="status" class="form-control">
                   {% for status in statuses %}
                    {% if task.status_id == status.status_id %}
                        <option value="{{status.status_id}}" selected="selected">{{status.desc}}</option>
                   {% else %}
                        <option value="{{status.status_id}}" >{{status.desc}}</option>
                   {% endif %}
                   {% endfor %}
               </select>
            </div>
           {% endif %}

                {% if priorities %}
               <select name="priority" class="form-control" id="priority">
                   {% for priority in priorities %}

                        {% if task and task.priority_id == priority.priority_id %}
                        <option value="{{priority.priority_id}}" selected="selected">{{priority.description}}</option>
                        {% else %}
                        <option value="{{priority.priority_id}}">{{priority.description}}</option>
                        {% endif %}
                   {% endfor %}
               </select>
               {% endif %}
               <p class="lead"></p>
               {% if not task %}
                    {{ form.submit(class="btn btn-lg btn-success btn-block")}}
               {% else %}
                    <input type="submit" class="btn btn-lg btn-success btn-block" value="Update Task">
               {% endif %}
               <a class="btn-warning btn-block btn btn-lg" href="{{url_for('userHome')}}">Cancel</a>
            </form>
       </div>
   </div>
{% endblock %}